@media all and (min-width: 1024px) and (max-width: 1200px) {
    body {
        width: 1000px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    body {
        width: 760px;
    }
    section {
        width: 640px;
    }
    footer {
        margin: -120px;
        width: 640px;
        z-index: 1;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    body {
        width: 420px;
    }
    #companyBr {
        display: none;
    }
    nav {
        display: none;
    }
    section {
        width: 420px;
    }
    .inner {
        width: 420px;
    }
    footer {
        width: 420px;
        margin: -120px;
        z-index: 1;
    }
}

@media all and (min-width: 320px) and (max-width: 480px) {
    body {
        width: 240px;
    }
    #companyBr {
        display: none;
        font-size: 18px;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    .company {
        font-size: 18px;
    }
    
    nav {
        display: none;
    }
    section {
        width: 240px;
    }
    .inner {
        width: 240px;
        flex-direction: column;
        align-items: center;
    }
    .slogan {
        text-align: center;
    }
    .label {
        text-align: center;
    }
    .subtitle {
        font-size: 18px;
    }
    input {
        width: 240px;
    }
    .FAQ {
        display: none;
    }
}